<form class="form-horizontal">
  <div class="col-md-6">
      <div class="form-group">
          <label class="col-sm-4 control-label">First Name:</label>
          <div class="col-sm-6">
              <input type="text" class="form-control" placeholder="First-Name">
          </div>
      </div>
  </div>
  <div class="col-md-6">
      <div class="form-group">
          <label class="col-sm-4 control-label">Last Name:</label>
          <div class="col-sm-6">
              <input type="text" class="form-control" placeholder="Last-Name">
          </div>
      </div>
  </div>
  <div class="col-md-6">
      <div class="form-group">
          <label class="col-sm-4 control-label">Birth-Date:</label>
          <div class="col-sm-6">
              <input type="date" class="form-control" placeholder="Birth-Date">
          </div>
      </div>
  </div>
  <div class="col-md-6">
      <div class="form-group">
          <label class="col-sm-4 control-label">Mobile No:</label>
          <div class="col-sm-6">
              <input type="text" class="form-control" placeholder="Mobile No">
          </div>
      </div>
  </div>
  <div class="col-md-6">
      <div class="form-group">
          <label class="col-sm-4 control-label">Email:</label>
          <div class="col-sm-6">
              <input type="email" class="form-control" placeholder="Email">
          </div>
      </div>
  </div>
  <div class="col-md-6">
      <div class="form-group">
          <label class="col-sm-4 control-label">Year of Passing:</label>
          <div class="col-sm-6">
              <select class="form-control">
                  <option>2010</option>                   
                  <option>2011</option>
                  <option>2012</option>
                   <option>2013</option> 
                   <option>2014</option> 
                   <option>2015</option>
                   <option>2016</option>
                   <option>2017</option>
                   </select>
          </div>
      </div>
  </div>

  <div class="col-sm-6">
      <div class="form-group">
          <label class="col-sm-4 control-label">Select Course:</label>
          <div class="col-sm-6">
              <select class="form-control">
                                                      <option>Angular JS</option>
                                                      <option>NodeJS</option>
                                                      <option>JavaScript</option>
                                                      </select>
          </div>
      </div>
  </div>
  <div class="col-sm-6">
      <div class="form-group">
          <label class="col-sm-4 control-label">Select Campus:</label>
          <div class="col-sm-6">
              <select class="form-control">
                                                              <option>Ameerpet</option>
                                                              <option>Madhapur</option>
                                                              </select>
          </div>
      </div>
  </div>



</form>
<div class="col-md-12">
  <button type="submit" class="btn btn-success col-md-1 col-md-offset-5">Submit</button>
  <button type="reset" class="btn btn-danger col-md-1 sub">cancel</button>
  
</div>